.header {
  width: 100%;
  padding: 8px 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.search {
  background-color: var(--color-input);
  color: var(--color-white);
  width: 20rem;
  height: 3rem;
  padding: 4px;
  box-sizing: border-box;
  border: 0px;
  outline: none;
}

.serach:focus {
}

.search-button {
  background-color: var(--color-input-gray);
}

.header-empty-space {
  width: 100px;
}
