.video-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.video {
  display: flex;
  gap: 1.6rem;
}

.video > div {
  color: var(--color-white);
}

.video-info {
}

.video-title {
  font-size: 1.5rem;
}
.video-channel {
  font-size: 1rem;
}
.video-upload-time {
  font-size: 1rem;
}
