.selectedVideo {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  position: relative;
}

.video {
}

.video-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.video-info > div {
  color: var(--color-white);
}

.video-title {
  font-size: 2rem;
}

.video-info-channel-wrap {
  display: flex;
  gap: 0.4rem;
}

.video-info-channel-title {
  font-size: 1.5rem;
}

.video-info-description {
  font-size: 1.5rem;
}
