.home {
  display: flex;
  justify-content: center;
}

.video-list-wrap {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;

  padding: 0px 10px;
  box-sizing: border-box;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: calc(100% / 5 - 20px);
  min-width: 320px;
}

@media (max-width: 1280px) {
  .video {
    width: calc(100% / 3 - 12px);
  }
}

@media (max-width: 720px) {
  .video {
    width: 100%;
  }
}

.video > div {
  color: var(--color-white);
}

.video-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 72px;
  margin-top: 4px;
}

.video-title {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-channel {
  font-size: 1rem;
}
.video-upload-time {
  font-size: 1rem;
}
