:root {
  --color-bg: #181818;
  --color-input: #000000;
  --color-white: #ffffff;
  --color-input-gray: #898989;
}

html {
  background-color: var(--color-bg);
  font-size: 62.5%;
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

button {
  border: 0;
}
